import { T{{pascalCase componentName}}Props } from './{{pascalCase componentName}}.types';
import './{{pascalCase componentName}}.scss';

const {{pascalCase componentName}}: React.FC<T{{pascalCase componentName}}Props> = () => {
  return <div className='{{pascalCase componentName}}'>{{pascalCase componentName}}</div>;
};

export default {{pascalCase componentName}};
